{% load static %}
<!DOCTYPE html>
<head>
	<title>BGM 레코드</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css">	
</head>
<body>
	<div class="templatemo-logo visible-xs-block">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg logo-left-container">
			<h1 class="logo-left">Black</h1>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg logo-right-container">
			<h1 class="logo-right">White</h1>
		</div>			
	</div>
<div class="templatemo-container">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg left-container">
			<h1 class="logo-left hidden-xs margin-bottom-60">BGM</h1>			
			<div class="tm-left-inner-container">
				<ul class="nav nav-stacked templatemo-nav">
				  <li><a href="http://127.0.0.1:8000/" class="active"><i class="fa fa-home fa-medium"></i>Homepage</a></li>
				  <li><a href="http://127.0.0.1:8000/intro"><i class="fa fa-shopping-cart fa-medium"></i>소개</a></li>
				  <li><a href="http://127.0.0.1:8000/find"><i class="fa fa-send-o fa-medium"></i>BGM 찾기</a></li>
				  <li><a href="http://127.0.0.1:8000/write"><i class="fa fa-comments-o fa-medium"></i>게시판</a></li>
				  <li><a href="http://127.0.0.1:8000/info"><i class="fa fa-gears fa-medium"></i>더 많은 자료</a></li>

				</ul>
			</div>
		</div> 
		<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/280186218&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg right-container">
		  <h1 class="logo-right hidden-xs margin-bottom-60">Record</h1>		
			<div class="tm-right-inner-container">
					<h1 class="templatemo-header">BGM Record에 오신것을 환영합니다.</h1>
			<img src="static/img/wooden-desk.jpg" alt="Wooden Desk" class="img-thumbnail">
				<article>
					<h2>새로 올라온 BGM</h2>
					<p>&nbsp;</p><div class="addit clearfix">
						<div style="text-align"></a><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/172298847&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></span>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle btnDownload" data-toggle="dropdown">
									다운로드 <span class="glyphicon glyphicon-cloud-download"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a class="btnDownloadInner" href="http://dl.bgms.kr/download/i70Rb/swf/MonoPoly%20-%20Wind%20Parade">swf 파일로 다운로드</a>
									</li>
									<li>
										<a class="btnDownloadInner" href="http://dl.bgms.kr/download/i70Rb/mp3/MonoPoly%20-%20Wind%20Parade">mp3 파일로 다운로드</a>
									</li>
								</ul>
						  </div>
							<button class="btn btn-default btn-xs btnEmbedShareText" title="퍼가기">
								퍼가기 <span class="glyphicon glyphicon-share"></span>
							</button>
							<button class="btn btn-default btn-xs btnScrap ladda-button" data-style="zoom-out" title="스크랩">
								<span class="ladda-label">
									스크랩 <span class="glyphicon glyphicon-inbox"></span>
								</span>
							</button>
							<button class="btn btn-default btn-xs btnAddPlaylistTrigger" title="플레이리스트에 추가">
									플레이리스트 <span class="glyphicon glyphicon-plus"></span>
							</button>
							
														
							<span class="btn btn-default btn-xs btnDeleteRequestTrigger">삭제요청 <span class="glyphicon glyphicon-flag"></span></span>							
														
			  </div>
		  </div>
							
				</article>
				<article>
					<h2>인기 BGM</h2>
					<p><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/251315334&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></p><div class="addit clearfix">
						<div style="text-align"></a></span>
							<div class="btn-group">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle btnDownload" data-toggle="dropdown">
									다운로드 <span class="glyphicon glyphicon-cloud-download"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a class="btnDownloadInner" href="http://dl.bgms.kr/download/i70Rb/swf/MonoPoly%20-%20Wind%20Parade">swf 파일로 다운로드</a>
									</li>
									<li>
										<a class="btnDownloadInner" href="http://dl.bgms.kr/download/i70Rb/mp3/MonoPoly%20-%20Wind%20Parade">mp3 파일로 다운로드</a>
									</li>
								</ul>
						  </div>
							<button class="btn btn-default btn-xs btnEmbedShareText" title="퍼가기">
								퍼가기 <span class="glyphicon glyphicon-share"></span>
							</button>
							<button class="btn btn-default btn-xs btnScrap ladda-button" data-style="zoom-out" title="스크랩">
								<span class="ladda-label">
									스크랩 <span class="glyphicon glyphicon-inbox"></span>
								</span>
							</button>
							<button class="btn btn-default btn-xs btnAddPlaylistTrigger" title="플레이리스트에 추가">
									플레이리스트 <span class="glyphicon glyphicon-plus"></span>
							</button>
							
														
							<span class="btn btn-default btn-xs btnDeleteRequestTrigger">삭제요청 <span class="glyphicon glyphicon-flag"></span></span><p>				
														
			  </div>
		  </div>
          <p><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/238095885&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></p>
          <div class="btn-group">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle btnDownload" data-toggle="dropdown">
									다운로드 <span class="glyphicon glyphicon-cloud-download"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a class="btnDownloadInner" href="http://dl.bgms.kr/download/i70Rb/swf/MonoPoly%20-%20Wind%20Parade">swf 파일로 다운로드</a>
									</li>
									<li>
										<a class="btnDownloadInner" href="http://dl.bgms.kr/download/i70Rb/mp3/MonoPoly%20-%20Wind%20Parade">mp3 파일로 다운로드</a>
									</li>
								</ul>
						  </div>
							<button class="btn btn-default btn-xs btnEmbedShareText" title="퍼가기">
								퍼가기 <span class="glyphicon glyphicon-share"></span>
							</button>
							<button class="btn btn-default btn-xs btnScrap ladda-button" data-style="zoom-out" title="스크랩">
								<span class="ladda-label">
									스크랩 <span class="glyphicon glyphicon-inbox"></span>
								</span>
							</button>
							<button class="btn btn-default btn-xs btnAddPlaylistTrigger" title="플레이리스트에 추가">
									플레이리스트 <span class="glyphicon glyphicon-plus"></span>
							</button>
							
														
							<span class="btn btn-default btn-xs btnDeleteRequestTrigger">삭제요청 <span class="glyphicon glyphicon-flag"></span></span>							
														
			  </div>

		
				<article>
					<h2>  최근 추천된 BGM</h2>
					<p><iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/215269836&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe></p><div class="btn-group">
								<button type="button" class="btn btn-default btn-xs dropdown-toggle btnDownload" data-toggle="dropdown">
									다운로드 <span class="glyphicon glyphicon-cloud-download"></span>
								</button>
								<ul class="dropdown-menu" role="menu">
									<li>
										<a class="btnDownloadInner" href="http://dl.bgms.kr/download/i70Rb/swf/MonoPoly%20-%20Wind%20Parade">swf 파일로 다운로드</a>
									</li>
									<li>
										<a class="btnDownloadInner" href="http://dl.bgms.kr/download/i70Rb/mp3/MonoPoly%20-%20Wind%20Parade">mp3 파일로 다운로드</a>
									</li>
								</ul>
						  </div>
							<button class="btn btn-default btn-xs btnEmbedShareText" title="퍼가기">
								퍼가기 <span class="glyphicon glyphicon-share"></span>
							</button>
							<button class="btn btn-default btn-xs btnScrap ladda-button" data-style="zoom-out" title="스크랩">
								<span class="ladda-label">
									스크랩 <span class="glyphicon glyphicon-inbox"></span>
								</span>
							</button>
							<button class="btn btn-default btn-xs btnAddPlaylistTrigger" title="플레이리스트에 추가">
									플레이리스트 <span class="glyphicon glyphicon-plus"></span>
							</button>
							
														
							<span class="btn btn-default btn-xs btnDeleteRequestTrigger">삭제요청 <span class="glyphicon glyphicon-flag"></span></span>
							
				</article>
			  <footer>
				<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-copyright">Copyright &copy; 2019 Bgmrecord.com </p>
			  </footer>
			</div>	
  </div> 
</div>	
</body>
</html>