{% load static %}
<!DOCTYPE html>
<head>
	<title>BGM 레코드</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css">	
</head>
<body>
	<div class="templatemo-logo visible-xs-block">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg logo-left-container">
			<h1 class="logo-left">Black</h1>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg logo-right-container">
			<h1 class="logo-right">White</h1>
		</div>			
	</div>
	<div class="templatemo-container">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg left-container">
			<h1 class="logo-left hidden-xs margin-bottom-60">BGM</h1>	
			<div class="tm-left-inner-container">
				<ul class="nav nav-stacked templatemo-nav">
				  <li><a href="http://127.0.0.1:8000/" class="active"><i class="fa fa-home fa-medium"></i>Homepage</a></li>
				  <li><a href="http://127.0.0.1:8000/intro"><i class="fa fa-shopping-cart fa-medium"></i>소개</a></li>
				  <li><a href="http://127.0.0.1:8000/find"><i class="fa fa-send-o fa-medium"></i>BGM 찾기</a></li>
				  <li><a href="http://127.0.0.1:8000/write"><i class="fa fa-comments-o fa-medium"></i>게시판</a></li>
				  <li><a href="http://127.0.0.1:8000/info"><i class="fa fa-gears fa-medium"></i>더 많은 자료</a></li>

				</ul>
			</div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg right-container">
			<h1 class="logo-right hidden-xs margin-bottom-60">Record</h1>
			<div class="tm-right-inner-container">
				<h1 class="templatemo-header">더 많은 자료들</h1>
                <p>BGM은 Back Ground Music이라는 원래 이름과 같이 음원 자체로서의 역활도 하지만 다른 컨텐츠들과 합하여 더 많은 컨텐츠를 만들기도 합니다. 이페이지에서는 다른 영상, 그리고 사진들과 함께 새로운 컨텐츠로 바뀐 BGM들을 볼 수 있습니다.</p>
                
				<article class="templatemo-item">
					<h2>영상</h2>
                    <p>영상은 대표적으로 영화나 드라마에서 배경음악으로써 BGM을 자주 사용하였습니다. BGM이 하나의 음악 장르로 인정받기 시작하면서 이러한 음원들을 모아놓은 영상들도 나오기 시작하였고 그러한 영상들을 모아놓은 리스트들이 있습니다.</p>	
					<div class="embed-responsive embed-responsive-16by9">
						<iframe  class="embed-responsive-item" src="http://www.youtube.com/embed/3TAUnYZpMbA" allowfullscreen></iframe>
					</div>		
				</article>
                
 				<article class="templatemo-item">
									
				</article>			
				<footer>
					<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-copyright">Copyright &copy; 2019 Bgmrecord.com</p>
				</footer>
			</div>	
		</div>
	</div>	
</body>
</html>