{% load static %}
<!DOCTYPE html>
<head>

	<title>BGM 레코드</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
	<div class="templatemo-logo visible-xs-block">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg logo-left-container">
			<h1 class="logo-left">Black</h1>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg logo-right-container">
			<h1 class="logo-right">White</h1>
		</div>			
	</div>
	<div class="templatemo-container">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg left-container">
			<h1 class="logo-left hidden-xs margin-bottom-60">BGM</h1>	
			<div class="tm-left-inner-container">
				<ul class="nav nav-stacked templatemo-nav">
				  <li><a href="http://127.0.0.1:8000/" class="active"><i class="fa fa-home fa-medium"></i>Homepage</a></li>
				  <li><a href="http://127.0.0.1:8000/intro"><i class="fa fa-shopping-cart fa-medium"></i>소개</a></li>
				  <li><a href="http://127.0.0.1:8000/find"><i class="fa fa-send-o fa-medium"></i>BGM 찾기</a></li>
				  <li><a href="http://127.0.0.1:8000/write"><i class="fa fa-comments-o fa-medium"></i>게시판</a></li>
				  <li><a href="http://127.0.0.1:8000/info"><i class="fa fa-gears fa-medium"></i>더 많은 자료</a></li>

				</ul>
			</div>
		</div> 
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg right-container">
			<h1 class="logo-right hidden-xs margin-bottom-60">Record</h1>	
			<div class="tm-right-inner-container">
				<h1 class="templatemo-header">소개</h1>				
				<article class="templatemo-item">
					<h2>BGM이란?</h2>

					<p>Back Ground Music 의 약자로서 무언가 다른 주체가 되는것의 배경으로 흐르는 음악을 뜻합니다. 일반적으로 보컬이 존재하는 다른 음악과는 달리 보컬이 없는 음악이 많으며 ost, remix등 여러 방면으로 장르가 다양합니다.</p>															
	
				</article><hr>
				<article class="templatemo-item">
					<h2>BGM Record란?</h2>

					<p>BGM이라는 장르를 좋아하는 사람들끼리 모여 서로의 정보를 공유하고 커뮤니티활동을하며, 자신의 자작곡을 업로드하기도 하며 에 목적을 두고 있습니다.</p>
						
				</article><hr>
				<article class="templatemo-item">
					<h2>저작권 관련</h2>
					<p>BGM Record는 기본적으로 저작권 보호를 위해 노력하며 비영리목적으로 저작자를 올바르게만 밝히기만 하면 사람들이 해당 저작물을 심지어 상업적으로도 배포, 리믹스, 변경, 활용할 수 있도록 허락하는 CC 라이선스중 가장 허용 범위가 넓은 CC BY 라이선스 음원을 유통하며, 이러한 음원이 가장 많은 Soundcloud에서 음원을 공유합니다.
					</p>
								
				</article>
				<footer>
					<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-copyright">Copyright &copy; 2019 Bgmrecord.com </p>
				</footer>
			</div>	
		</div>
	</div>	
</body>
</html>