{% load static %}
<!DOCTYPE html>
<head>
	<title>BGM 레코드</title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/templatemo_style.css' %}" rel="stylesheet" type="text/css">	
</head>
<body>
	<div class="templatemo-logo visible-xs-block">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg logo-left-container">
			<h1 class="logo-left">Black</h1>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg logo-right-container">
			<h1 class="logo-right">White</h1>
		</div>			
	</div>
	<div class="templatemo-container">
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 black-bg left-container">
			<h1 class="logo-left hidden-xs margin-bottom-60">BGM</h1>	
			<div class="tm-left-inner-container">
				<ul class="nav nav-stacked templatemo-nav">
				  <li><a href="http://127.0.0.1:8000/" class="active"><i class="fa fa-home fa-medium"></i>Homepage</a></li>
				  <li><a href="http://127.0.0.1:8000/intro"><i class="fa fa-shopping-cart fa-medium"></i>소개</a></li>
				  <li><a href="http://127.0.0.1:8000/find"><i class="fa fa-send-o fa-medium"></i>BGM 찾기</a></li>
				  <li><a href="http://127.0.0.1:8000/write"><i class="fa fa-comments-o fa-medium"></i>게시판</a></li>
				  <li><a href="http://127.0.0.1:8000/info"><i class="fa fa-gears fa-medium"></i>더 많은 자료</a></li>
				  <li><a href="http://127.0.0.1:8000/signin"><i class="fa fa-envelope-o fa-medium"></i>등록</a></li>
				</ul>
			</div>
		</div> 
		<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 white-bg right-container">
			<h1 class="logo-right hidden-xs margin-bottom-60">Record</h1>
			<div class="tm-right-inner-container">
				<h1 class="templatemo-header">업로드</h1>
				<div class="row">
				  <div class="col-sm-12 col-md-12">
                      <form action="#" method="post">

                            <div class="form-group">
                                <input type="text" id="contact_name" class="form-control" placeholder="제목" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="contact_email" class="form-control" placeholder="이름" />
                            </div>
                            <div class="form-group">
                                <input type="text" id="contact_subject" class="form-control" placeholder="주제" />
                            </div>
                            <div class="form-group">
                                <textarea id="contact_message" class="form-control" rows="9" placeholder="내용"></textarea>
                            </div>
                            <button type="submit" class="btn btn-warning">등록</button>

                        </form>
                    </div>

                    <div class="clearfix"></div>
                </div>
				<footer>
					<p class="col-lg-6 col-md-6 col-sm-12 col-xs-12 templatemo-copyright">Copyright &copy; 2016 Bgmrecord.com</p>
				</footer>
			</div>	
		</div> 
	</div>
	<script src="js/jquery-1.11.1.min.js"></script>
	<script type="text/javascript">
		var map = '';
		var center;

		function initialize() {
		    var mapOptions = {
		      zoom: 16,
		      center: new google.maps.LatLng(16.8496189,96.1288854)
		  	};
		  
		  	map = new google.maps.Map(document.getElementById('map-canvas'),  mapOptions);

		  	google.maps.event.addDomListener(map, 'idle', function() {
			  calculateCenter();
			});
			
			google.maps.event.addDomListener(window, 'resize', function() {
			  map.setCenter(center);
			});
		}

		function calculateCenter() {
		  center = map.getCenter();
		}

		function loadGoogleMap(){
	
		    var script = document.createElement('script');
		    script.type = 'text/javascript';
		    script.src = 'https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&' +
		    'callback=initialize';
		    document.body.appendChild(script);
		}

		$(document).ready( function() {
			loadGoogleMap();
		});

	</script>	
</body>
</html>